* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* .container {
  display: grid;
  width: 800px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 400px 200px;
  row-gap: 20px;
  column-gap: 50px;
  background-color: cornflowerblue;
  padding: 20px;
}

.item {
  background-color: salmon;
  text-align: center;
  color: white;
} */

/* Objetivo */
.container {
  margin-top: 200px;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  gap: 10px;
  background-color: cornflowerblue;
}

header {
  grid-column: 2 /4;
  background-color: salmon;
  color: white;
}

.menu {
  display: flex;
  padding: 50px;
  gap: 20px;
}

nav {
  grid-column: 1/2;
  /* grid-row-start: 1; */
  /* grid-row-end: 4; */
  grid-row: 1/5;
  background-color: cadetblue;
}

section {
  grid-column: 2/3;
  background-color: yellow;
  /* height: 100vh; */
}

aside {
  grid-column: 3/4;
  grid-row: 2/4;
  background-color: greenyellow;
}

footer {
  grid-column: 2/4;
  background-color: crimson;
}
