* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.slider {
  height: 100vh;
  font-size: 4rem;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: yellow;
}

.nav {
  position: sticky;
  top: 0px;
  height: 50px;
  padding: 0.5rem;
  background: sandybrown;
}

.nav ul {
  display: flex;
  justify-content: space-around;
  list-style: none;
}

.nav ul li {
  line-height: 2;
}

.container {
  width: 70%;
  max-width: 600px;
  margin: 0 auto;
  /* background: red; */
}

article {
  padding: 2rem;
  line-height: 1.6;
}
